
<main>
    <div class="page-section">
        <div class="container">
            <br>
            <div class="frame">
                <img src="~/img/Cat.jpg" />
            </div>

            <style>
                img {
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    margin: auto;
                }
            </style>
        </div>
    </div> <!-- .page-section -->
</main>